@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    background-color: #0B0806;
    background-image: url('image/team.jpg');
    background-size: 1700px auto;
    background-position: calc(50% + 250px) calc(50% - 730px);
    background-repeat: no-repeat;
}



/* 헤더 스타일 */
header {
    background-color: #1e1e1e; /* 짙은 회색 배경 */
    color: #fff;
    padding: 20px 0; /* 상단과 하단의 패딩을 늘림 */
    text-align: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* 더 깊은 그림자 효과 */
}

/* 네비게이션 스타일 */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222; /* 어두운 회색 배경 */
    border-top: 2px solid #ff4500; /* 빨간색 상단 테두리 추가 */
    border-bottom: 2px solid #ff4500; /* 빨간색 하단 테두리 추가 */
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
} */

.logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px; /* 전당포 글씨 크기 증가 */
    /* font-weight: bold; */
    text-decoration: none;
    color: #ffa500; /* 주황색으로 강조 */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin-left: 100px;
    margin-right: 50px;
}

.nav-menu li a {
    font-family: 'Noto Serif KR', serif;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 25px; /* 네비게이션 글씨 크기 증가 */
    font-weight: bold; /* 강조된 텍스트 */
}

.nav-menu li a:hover {
    color: #ff4500; /* 호버 시 빨간색으로 변경 */
}

#teamBox {
    height: 650px;
    padding-top: 150px;
    padding-left: 400px;
}

#introduceTeam{
    font-family: 'Noto Serif KR', serif;
    font-weight: bold; /* 강조된 텍스트 */
    font-style: italic;
    color: white;
    font-size: 60px;
    text-decoration: none;
}

#introduceTeam{
    font-family: 'Noto Serif KR', serif;
    font-weight: bold; /* 강조된 텍스트 */
    font-style: italic;
    color: white;
    font-size: 60px;
    text-decoration: none;
}

#modalPhoto {
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px #222;
    display: block;
    width: 300px;
    margin-right: 30px;
}

.int p {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
}

.modal-header {
    background-color: #333
}

.modal-header>h5 {
    color: #fff;
}

.accordion{
    padding: 50px 100px 20px 100px;
    text-align: center;
}

#introduceBox{
    /* max-width: 1700px; */
    margin-left: auto;
    margin-right: auto;


}

#introduce {
    /* font-family: 'Noto Serif KR', serif; */
    font-size: 45px; /* 더 큰 글꼴 크기 */
    font-weight: bold;
    color: #ffd700; /* 텍스트 색상을 더 진한 옐로우로 변경 */
    /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);  */
    /* text-decoration : underline; */
    background-color: #222; /* 배경색을 더 어두운 회색으로 변경 */
    padding-top: 35px; /* 내부 여백 추가 */
    padding-bottom: 20px; /* 내부 여백 추가 */
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 0; /* 아래쪽 여백 제거 */

    text-shadow: 2px 2px 4px rgb(55, 0, 221);
}



#imageContainer {
    display: flex; /* 이미지들을 가로로 정렬 */
    justify-content: center; /* 이미지들을 가운데 정렬 */
    gap: 100px; /* 이미지들 사이의 간격 설정 */
    flex-wrap: wrap;/* 이미지들이 넘칠 경우 다음 줄로 넘어가게 함 */
    background-color: #ECE6CC; /* 배경색을 어두운 회색으로 변경 */
    margin-top: 0; /* 위쪽 여백 제거 */
    padding: 20px 0; /* 이미지 컨테이너 상단과 하단에 여백 추가 */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
}


#imageContainer img {
    max-width: 200px;
    /* 이미지의 가로 너비를 200px로 설정 */
    height: 200px;
    /* 비율에 맞게 높이를 자동으로 조정 */
    margin-top: 20px;
    margin-bottom: 20px;
    /* 이미지 아래 여백 추가 (선택사항) */

    border-radius: 50%;
    /* 이미지를 원형으로 만듦 */
    /* border: 2px solid #ccc; */
    /* 테두리 추가 (선택사항) */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* 보다 짙은 그림자 효과 */
    transition: transform 0.3s ease-in-out;
    animation: rotateImage 5s infinite linear; /* 이미지를 5초 동안 무한히 회전시키는 애니메이션 추가 */
    filter: grayscale(100%) brightness(80%) contrast(100%);
    
}

@keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#imageContainer img:hover {
    transform: scale(1.1) rotate(10deg); /* 마우스를 올릴 때 이미지를 약간 회전시켜 보다 포스 있는 느낌을 줌 */
    filter: grayscale(0%) brightness(100%) contrast(100%);
    /* 마우스 호버 시 필터 제거하여 이미지를 원래대로 복원 */
    
}


.tmiBox{
    width: 100%;
    height: 800px;
    background-image: url('image/tmi.jpg');
}

#tmiTitle{
    font-weight: bold;
    font-size: 60px;
    color: red;
    padding-top:100px;
    margin-left: 900px;
    text-shadow: 2px 2px 4px rgb(43, 0, 255);
}

#tmiInfo{
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding-top:50px;
    margin-left: 900px;
}



.mainTitle{
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: center; /* 요소들을 수평 중앙으로 정렬 */
    padding-top:150px;
}

#mindset{
    font-size: 70px; /* 더 큰 글꼴 크기 */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(43, 0, 255);
    /* text-align: center; */
    color: white; /* 텍스트 색상을 더 진한 옐로우로 변경 */
    margin-right: 600px;

}

#rules{
    font-size: 70px; /* 더 큰 글꼴 크기 */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(214, 0, 0);
    /* text-align: center; */
    color: white; /* 텍스트 색상을 더 진한 옐로우로 변경 */
    margin-left: 370px;

}

.mainContainer {
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: center; /* 요소들을 수평 중앙으로 정렬 */
    padding-top:1px;
    padding-bottom: 180px;
}

.ourMind{
    position: relative; /* 부모 요소에 대해 상대적인 위치 지정 */
    width: 500px;
    height: 500px;
    /* background-color: #ffffff;
    padding-top: 100px; */
    background-image: url('image/teeth.jpg');
    background-size: cover;
    margin-right: 200px;
    border-radius: 30px;
}

#mind{
    font-size: 70px; /* 더 큰 글꼴 크기 */
    font-weight: bold;
    /* text-align: center; */
    color: black; /* 텍스트 색상을 더 진한 옐로우로 변경 */
    
    position: absolute; 
    padding-top:40px;
    padding-left:30px;


}

.ourRule{
    width: 800px;
    height: 500px;
    background-image: url('image/blackboard.png');
    background-size: 106%;
    background-position: center;
}

#rule_blackboard{
    font-size: 30px; /* 더 큰 글꼴 크기 */
    font-weight: bold;
    /* text-align: center; */
    color: white; /* 텍스트 색상을 더 진한 옐로우로 변경 */
    
    
    
    padding-top:130px;
    padding-left:130px;
}


.modal-body {
    display: flex;
    align-items: center;
}

.modal-body2 {
    width: 300px;
    margin-left: 10px;
    margin-top: 15px;
    gap: 15px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.modal-body3 {
    display: grid;
    justify-content: end;
    float: right;
}

.modal-name, .modal-age, .modal-home, .modal-MBTI {
    border: 1px #222 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px #222;
    padding: 4px;
    margin-right: 10px;
}

.modal-one, .modal-blog, .modal-goal, .modal-hobby, .modal-pro, .modal-info {   
    border: 1px #222 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px #222;
    padding: 4px;
}

.modal-dialog {
    max-width: 900px;
    margin: 0 auto;
    transform: translateX(-50%);
}

.modal-content {
    width: 100%;
    max-width: none;
}

