/* 전체 페이지 스타일 */
body {
    font-family: 'Noto Serif KR', serif;
    background-color: #0B0806;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('recom.gif');
    background-size: 1200px auto;
    background-position: calc(50% + 250px) calc(30% - 100px);
    background-repeat: no-repeat;
}

/* 헤더 스타일 */
header {
    background-color: #1e1e1e; /* 짙은 회색 배경 */
    color: #fff;
    padding: 20px 0; /* 상단과 하단의 패딩을 늘림 */
    text-align: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* 더 깊은 그림자 효과 */
}

/* 네비게이션 스타일 */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222; /* 어두운 회색 배경 */
    border-top: 2px solid #ff4500; /* 빨간색 상단 테두리 추가 */
    border-bottom: 2px solid #ff4500; /* 빨간색 하단 테두리 추가 */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
} 

.logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px; /* 전당포 글씨 크기 증가 */
    /* font-weight: bold; */
    text-decoration: none;
    color: #ffa500; /* 주황색으로 강조 */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin-left: 100px;
    margin-right: 50px;
}

.nav-menu li a {
    font-family: 'Noto Serif KR', serif;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 25px; /* 네비게이션 글씨 크기 증가 */
    font-weight: bold; /* 강조된 텍스트 */
}

.nav-menu li a:hover {
    color: #ff4500; /* 호버 시 빨간색으로 변경 */
}

body h2 {
    text-align: center; /* 가운데 정렬 추가 */
    color: black;
}
body h1 {
    text-align: center; /* 가운데 정렬 추가 */
    color: black;
    margin-left: -50px;
}

/*아래 리스트*/
#recommendations {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 960px; /* 최대 너비 설정 */
    margin: 120px auto 0; /* 가운데 정렬 */
}

.recommendation-item {
    flex: 1 1 calc(30% - 20px); /* 가로 3개씩 */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #555;
}

.recommendation-item h2 {
    margin-top: 0;
    color:white;
}

.recommendation-item p {
    margin-bottom: 10px;
    
}

.recommendation-item iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
}


/* 음악 추천 폼 및 목록 스타일 */
#ballon {
    position: relative;
    background-image: url('ballon.jpg'); /* ballon 이미지 경로를 적어주세요 */
    background-size: cover; /* 이미지를 div 크기에 맞게 조절 */
    background-position: center; /* 이미지를 중앙에 정렬 */
    color: #333; /* 텍스트 색상 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    padding: 50px; /* 내부 여백 */
    width: 450px;
    height: 400px;
    
    transform-origin: center; /* 회전 중심을 중앙으로 설정 */
}



#ballon label,
#ballon input,
#ballon textarea,
#ballon button {
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    
}

#ballon button {
    background-color: #2617eb;
    color: white;
    border: none;
    cursor: pointer;
}

#ballon button:hover {
    background-color: #555;
}

