/* 전체 페이지 스타일 */
body {
    background-color: #0B0806;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* 헤더 스타일 */
header {
    background-color: #1e1e1e; /* 짙은 회색 배경 */
    color: #fff;
    padding: 20px 0; /* 상단과 하단의 패딩을 늘림 */
    text-align: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* 더 깊은 그림자 효과 */
}

/* 네비게이션 스타일 */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222; /* 어두운 회색 배경 */
    border-top: 2px solid #ff4500; /* 빨간색 상단 테두리 추가 */
    border-bottom: 2px solid #ff4500; /* 빨간색 하단 테두리 추가 */
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin-left: 100px;
    margin-right: 50px;
}

.nav-menu li a {
    font-family: 'Noto Serif KR', serif;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 25px; /* 네비게이션 글씨 크기 증가 */
    font-weight: bold; /* 강조된 텍스트 */
}

.nav-menu li a:hover {
    color: #ff4500; /* 호버 시 빨간색으로 변경 */
}


/*헤더 글(전당포)*/
.logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px; /* 전당포 글씨 크기 증가 */
    /* font-weight: bold; */
    text-decoration: none;
    color: #ffa500; /* 주황색으로 강조 */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}



#about {
    background-image: url('1bin.jpg'); /* 이미지 파일 경로를 입력해주세요 */
    background-size: cover; /* 이미지를 섹션 내에 완전히 표시 */
    background-position: center; /* 이미지를 섹션 중앙에 배치 */
    width: 32%; /* 섹션의 너비를 80%로 설정 */
    height: 500px; /* 섹션의 높이를 500px로 설정 */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    float:left;
}

#about h2 {
    font-family: 'Noto Serif KR', serif;
    font-weight: bold;
    font-size: 70px;
    margin-left: 25px;
    margin-bottom: 20px;
    color : #FFFFFF;
}
#about p {
    font-family: 'Noto Serif KR', serif;
    font-weight: bold;
    font-size: 30px; /* 내용 글자 크기를 조금 더 크게 설정 */
    margin-left: 40px;
    color : #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 효과 추가 */
}

#shot {
    background-image: url('shot.png'); /* 배경 이미지 설정 */
    background-size:cover; /* 이미지를 섹션 내에 완전히 표시 */
    background-position: center; /* 이미지를 섹션 중앙에 배치 */
    width: 96%; /* 섹션의 너비를 30%로 설정 */
    height: 400px; /* 섹션의 높이를 500px로 설정 */
    padding: 10px; /* 내부 여백 제거 */
    margin-top: 250px; /* 이 값을 조절하여 사진의 위치를 조절 */

}

#shot p {
    font-size: 1.3em; /* 내용 글자 크기를 조금 더 크게 설정 */
    color : #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 효과 추가 */
}

#ggam {
    background-image: url('ggam.png'); /* 배경 이미지 설정 */
    background-size:cover; /* 이미지를 섹션 내에 완전히 표시 */
    background-position:center; /* 이미지를 섹션 중앙에 배치 */
    width: 96%; /* 섹션의 너비를 30%로 설정 */
    height: 400px; /* 섹션의 높이를 500px로 설정 */
    padding: 10px; /* 내부 여백 제거 */
    margin-top: 0px; /* 이 값을 조절하여 사진의 위치를 조절 */

}

#ggam p {
    font-size: 1.3em; /* 내용 글자 크기를 조금 더 크게 설정 */
    color : #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 효과 추가 */
}

#bye {
    background-image: url('goodbye.jpg');
    background-size: cover; /* 이미지를 섹션 내에 완전히 표시 */
    background-position: center; /* 이미지를 섹션 중앙에 배치 */
    width: 34%; /* 섹션의 너비를 80%로 설정 */
    height: 500px; /* 섹션의 높이를 400px로 설정 */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: auto; /* 왼쪽 여백을 auto로 설정하여 오른쪽으로 이동 */
}

#bye p {
    font-family: 'Noto Serif KR', serif;
    font-weight: bold;
    font-size: 30px; /* 내용 글자 크기를 조금 더 크게 설정 */
    margin-top: 20px;
    color : #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 효과 추가 */
}

#wait {
    background-image: url('wait.jpg');
    background-size: cover; /* 이미지를 섹션 내에 완전히 표시 */
    background-position: center; /* 이미지를 섹션 중앙에 배치 */
    width: 100%; /* 섹션의 너비를 80%로 설정 */
    height: 385px; /* 섹션의 높이를 400px로 설정 */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: auto; /* 왼쪽 여백을 auto로 설정하여 오른쪽으로 이동 */
    margin-right: auto;
    margin-top: 420px; /* 이 값을 조절하여 사진의 위치를 조절 */
}

#wait p {
    font-size: 1.3em; /* 내용 글자 크기를 조금 더 크게 설정 */
    color : #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 효과 추가 */
}

#believe {
    background-image: url('believe.png');
    background-size: cover; /* 이미지를 섹션 내에 완전히 표시 */
    background-position: center; /* 이미지를 섹션 중앙에 배치 */
    width: 100%; /* 섹션의 너비를 100%로 설정 */
    height: 380px; /* 섹션의 높이를 300px로 설정 */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 0; /* 왼쪽 여백을 auto로 설정하여 오른쪽으로 이동 */
    margin-right: auto;
    
}

#beliieve p {
    font-size: 1.3em; /* 내용 글자 크기를 조금 더 크게 설정 */
    color : #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 효과 추가 */
}

#guestbook-form {
    max-width: 400px;
    margin: 20px auto;
}
/* 방명록 폼의 입력 필드와 텍스트 영역 스타일 */
#guestbook-form input[type="text"]{
    width: 30%;
    padding:10px;
    display: inline-block; /* inline-block으로 변경 */
    border-radius: 5px; /* 테두리 둥글게 만들기 */
    margin-left: -12px;
}
#guestbook-form textarea {
    width: 95%; /* 메시지 입력 필드 너비 */
    float: right; /* 오른쪽으로 정렬 */
    margin-left: 5%; /* 왼쪽 여백 설정 */
    padding: 15px; /* 내부 여백 설정 */
    margin-bottom: 15px; /* 아래 여백 설정 */
    border-radius: 5px; /* 테두리 둥글게 만들기 */
}

/* 방명록 폼의 제출 버튼 스타일 */
#guestbook-form button {
    padding: 10px 20px; /* 내부 여백 설정 */
    background-color: #444; /* 배경색 설정 */
    color: #fff; /* 글자색 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 테두리 둥글게 만들기 */
    cursor: pointer; /* 마우스 커서 스타일 변경 */
    transition: background-color 0.3s; /* 배경색 변화 시 애니메이션 효과 */
    font-size: 0.9em; /* 폰트 크기 설정 */
    float:right;
    margin-bottom: 10px; /* 위 여백 설정 */
}

/* 방명록 폼의 제출 버튼에 호버 효과 스타일 */
#guestbook-form button:hover {
    background-color: #555; /* 호버 시 배경색 변경 */
}
/* 방명록 목록 스타일 */
#guestbook-list {
    list-style-type: none; /* 리스트 스타일 제거 */
    padding: 0; /* 내부 패딩 제거 */
    max-width: 500px; /* 최대 너비 설정 */
    margin: 30px auto; /* 위아래 30px, 좌우 자동 여백 설정 */
}

#guestbook-list li {
    background-color: rgb(241, 234, 234); /* 배경색 설정 */
    padding: 10px; /* 내부 패딩 설정 */
    margin-bottom: 10px; /* 아래 여백 설정 */
    border-radius: 5px; /* 테두리 둥글게 설정 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    font-size: 0.9em; /* 글자 크기 설정 */
    border: 2px solid black; /* 테두리 설정 */
}

#guestbook-list li strong {
    font-weight: bold;
    margin-right: 10px; /* 오른쪽 여백 설정 */
}

#guestbook-list li span {
    display: block; /* 블록 레벨로 표시 */
    margin-top: 4px; /* 위 여백 설정 */
}
.container {
    display: flex; /* flexbox 사용 */
    justify-content: space-between; /* 섹션 간에 동일한 간격으로 정렬 */
    flex-wrap: wrap; /* 요소들이 넘치면 다음 줄로 넘어가게 설정 */
}

#guestbook-container {
    flex-grow: 1; /* 남은 공간을 채우기 위해 섹션을 확장 */
    margin: 10 10px; /* 왼쪽과 오른쪽 여백 */
}


body, #about, #bye {
    margin: 0;
    padding: 0;
}

#guestbook-pagination {
    margin-top: 20px;
    text-align: center;
}

.page-btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

.page-btn.active {
    background-color: #333;
}

#nameMessage {
    width:500px;
    height:150px;
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #ffa500;
    margin-top: 30px;
}

